*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;
}

body{

background:url('../images/background.jpeg');
background-size:cover;
background-attachment:fixed;

padding:30px;
color:white;
}

header{
text-align:center;
margin-bottom:40px;
}

header h1{
font-size:55px;
}

header p{
margin-bottom:20px;
}

#searchInput{

width:90%;
max-width:500px;

padding:15px;

border:none;
border-radius:15px;

font-size:18px;
}

.category{

margin-bottom:50px;
}

.category h2{

margin-bottom:20px;
background:#5D7343;

padding:15px;

border-radius:15px;
}

.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;
}

.card{

background:rgba(255,255,255,.95);

border-radius:20px;

overflow:hidden;

cursor:pointer;

transition:.3s;
}

.card:hover{

transform:translateY(-8px);
}

.card img{

width:100%;
height:200px;
object-fit:cover;
}

.card h3{

color:#333;
padding:15px;
text-align:center;
}

.modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.7);
}

.modal-content{

background:white;

width:90%;
max-width:700px;

margin:8% auto;

padding:30px;

border-radius:20px;

color:#333;

position:relative;
}

.close{

position:absolute;

left:20px;
top:10px;

font-size:35px;

cursor:pointer;
}